body{
    display: flex;
    justify-content: center;
    background: rgb(223, 223, 223);
}

.paragraph-container {
    max-width: 550px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
  }

  .paragraph {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #047cfd;
    color: #ffffff;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
  }